.searchdetaildialog {
  width: 70vw;
}

.q-item__section {
  word-break: break-all;
}

.indexDetailsContainer .q-list .q-item {
  height: auto;
  min-height: fit-content;
  padding: 2px 8px;
}

.indexDetailsContainer .q-list .q-item .q-item__section {
  padding: 2px 8px !important;
  font-size: 12px;
  font-family: monospace;
}

.indexDetailsContainer {
  .log_json_content {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 12px;
  }
}

.q-icon {
  cursor: pointer;
  color: var(--o2-icon-color);
  transition: color 0.2s ease;

  &:hover {
    color: var(--o2-icon-hover);
  }
}

.table-pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  display: inline;
  font-weight: normal;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.json-pre {
  height: calc(100vh - 290px);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tab-panels-container {
  height: calc(100vh - 198px);
}

.detail-table-list {
  height: calc(100vh - 290px);
}