.toolbar-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.175rem; // 0 ~2.8px
  margin-left: 0.25rem; // 4px
  border: 0.0625rem solid var(--o2-border-color); // 1px
  border-radius: 0.375rem; // 6px
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--o2-hover-accent);
  }

  :deep(.q-toggle__inner) {
    padding: 0;
  }
}

.dark-theme .toolbar-toggle-container {
  border: 0.0625rem solid var(--o2-border-color);
}

.toolbar-icon-in-toggle {
  font-size: 0.9rem; // ~14.4px
}

.function-selector {
  margin-right: 0.25rem; // 8px
  border-radius: 0.375rem; // 6px

  :deep(.btn-function) {
    transition: all 0.2s ease;
    padding-right: 0.5rem; // 8px
    // margin-right: 0.125rem; // 2px

    &:hover {
      background-color: var(--o2-hover-accent);
    }

    .q-btn__content {
      .q-icon {
        font-size: 1.125rem; // 18px
      }
    }
  }

  :deep(.q-btn-dropdown__arrow-container) {
    transition: all 0.2s ease;
    padding-left: 0.5rem; // 8px
    margin-left: 0.125rem; // 2px

    &:hover {
      background-color: var(--o2-hover-accent);
    }
  }
}