.expanded-content {
  padding: 0 0.5rem 0rem 1rem;
  width: calc(95vw - 40px);
  max-height: 100vh; /* Set a fixed height for the container */
  overflow: hidden; /* Hide overflow by default */
}

.scrollable-content {
  width: 100%; /* Use the full width of the parent */
  overflow-y: auto; /* Enable vertical scrolling for long content */
  padding: 10px; /* Optional: padding for aesthetics */
  border: 1px solid #ddd; /* Optional: border for visibility */
  height: 100%;
  max-height: 200px;
  /* Use the full height of the parent */
  text-wrap: normal;
  background-color: #e8e8e8;
  color: black;
}

.q-td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table .q-tr > .q-td:nth-child(2) {
  text-align: left;
}

.copy-btn-sql {
  border: #7a54a2 1px solid;
  color: #7a54a2;
}

.copy-btn-function {
  border: #0a7ebc 1px solid;
  color: #0a7ebc;
}

.warning-text {
  color: #f5a623;
  border: 1px solid #f5a623;
}
.expanded-sql {
  border-left: #7a54a2 3px solid;
}
.expanded-function {
  border-left: #0a7ebc 3px solid;
}

.report-list-tabs {
  height: fit-content;

  :deep(.rum-tabs) {
    border: 1px solid #464646;
  }

  :deep(.rum-tab) {
    &:hover {
      background: #464646;
    }

    &.active {
      background: #5960b2;
      color: #ffffff !important;
    }
  }
}

.report-list-tabs {
  padding: 0 1rem;
  height: fit-content;
  width: fit-content;

  :deep(.rum-tabs) {
    border: 1px solid #eaeaea;
    height: fit-content;
    border-radius: 4px;
    overflow: hidden;
  }

  :deep(.rum-tab) {
    width: fit-content !important;
    padding: 4px 12px !important;
    border: none !important;

    &:hover {
      background: #eaeaea;
    }

    &.active {
      background: #5960b2;
      color: #ffffff !important;
    }
  }
}