.expanded-content {
  padding: 0 1rem;
  min-width: calc(90vw - 20px);
  max-height: 100vh; /* Set a fixed height for the container */
  overflow: hidden; /* Hide overflow by default */
}

.scrollable-content {
  width: 100%; /* Use the full width of the parent */
  overflow-y: auto; /* Enable vertical scrolling for long content */
  padding: 10px; /* Optional: padding for aesthetics */
  border: 1px solid #ddd; /* Optional: border for visibility */
  height: 100%;
  max-height: 200px;
  /* Use the full height of the parent */
  text-wrap: normal;
  background-color: #e8e8e8;
  color: black;
}

.q-td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-table .q-tr > .q-td:nth-child(2) {
  text-align: left;
}

.copy-btn-sql {
  border: #7a54a2 1px solid;
  color: #7a54a2;
}

.copy-btn-function {
  border: #0a7ebc 1px solid;
  color: #0a7ebc;
}

.warning-text {
  color: #f5a623;
  border: 1px solid #f5a623;
  border-radius: 2px;
}
.expanded-sql {
  border-left: #7a54a2 3px solid;
}
.expanded-function {
  border-left: #0a7ebc 3px solid;
}

.search-job-list-table {
  th:last-child,
  td:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
    background: #ffffff;
    box-shadow: -4px 0px 4px 0 rgba(0, 0, 0, 0.1);
  }
}
td:nth-child(2) {
  text-align: center !important;
}
th:first-child,
td:first-child {
  width: 50px;
}

.dark-theme {
  th:last-child,
  td:last-child {
    background: var(--q-dark);
    box-shadow: -4px 0px 4px 0 rgba(144, 144, 144, 0.1);
  }
}

.light-theme {
  th:last-child,
  td:last-child {
    background: #ffffff;
  }
}
.search-job-exapnded-table {
}
.dark-theme {
  background-color: $dark-page;

  .report-list-tabs {
    height: fit-content;

    :deep(.rum-tabs) {
      border: 1px solid #464646;
    }

    :deep(.rum-tab) {
      &:hover {
        background: #464646;
      }

      &.active {
        background: #5960b2;
        color: #ffffff !important;
      }
    }
  }
}

.report-list-tabs {
  padding: 0 1rem;
  height: fit-content;
  width: fit-content;

  :deep(.rum-tabs) {
    border: 1px solid #eaeaea;
    height: fit-content;
    border-radius: 4px;
    overflow: hidden;
  }

  :deep(.rum-tab) {
    width: fit-content !important;
    padding: 4px 12px !important;
    border: none !important;

    &:hover {
      background: #eaeaea;
    }

    &.active {
      background: #5960b2;
      color: #ffffff !important;
    }
  }
}