[package]
description = "ZincObserve is an observability platform that allows you to capture, search, and analyze your logs, metrics, and traces."
edition = "2021"
homepage = "https://zinc.dev/"
keywords = [
  "search",
  "log",
  "metrics",
  "traces",
  "analytics",
  "observability",
  "open source",
  "open-source",
  "opensource",
]
license = "Apache-2.0"
name = "zincobserve"
repository = "https://github.com/zinclabs/zincobserve/"
version = "0.1.0"
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["zo_functions"]
mimalloc = ["dep:mimalloc"]
zo_functions = ["dep:mlua"]

[profile.release]
debug = false
debug-assertions = false
overflow-checks = false
strip = true

[dependencies]
actix-cors = "0.6"
actix-web = "4.3"
actix-web-httpauth = "0.8"
actix-web-opentelemetry = { version = "0.13", features = ["metrics"] }
actix-web-prometheus = { version = "0.1", features = ["process"] }
actix-web-rust-embed-responder = { version = "2.2", default-features = false, features = [
  "support-rust-embed-for-web",
  "base64",
] }
ahash = { version = "0.8", features = ["serde"] }
anyhow = "1.0"
argon2 = { version = "0.4", features = ["alloc", "password-hash"] }
arrow = { version = "36", features = ["simd", "ipc_compression"] }
arrow-schema = { version = "36", features = ["serde"] }
async-trait = "0.1"
async_once = "0.2"
awc = "3.1"
base64 = "0.21"
blake3 = "1.3"
bytes = "1.4"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
clap = { version = "4.1", default-features = false, features = [
  "std",
  "help",
  "usage",
  "suggestions",
  "cargo",
] }
dashmap = { version = "5.4", features = ["serde"] }
datafusion = { version = "22", features = ["simd"] }
datafusion-common = "22"
dotenv_config = "0.1"
dotenvy = "0.15"
env_logger = "0.10"
etcd-client = { version = "0.10", features = ["tls"] }
flate2 = { version = "1.0", features = ["zlib"] }
flatten-json-object = "0.6"
futures = "0.3"
get_if_addrs = "0.5"
glob = "0.3"
hex = "0.4"
http-auth-basic = "0.3"
indexmap = { version = "1.9", features = ["serde"] }
lazy_static = "1.4"
log = "0.4"
lru = "0.8"
memchr = "2.5"
mimalloc = { version = "0.1", default-features = false, optional = true }
mlua = { version = "0.8.4", features = [
  "send",
  "luajit52",
  "vendored",
  "serialize",
], optional = true }
object_store = { version = "0.5", features = [
  "aws",
  "aws_profile",
  "azure",
  "gcp",
] }
once_cell = "1.17"
opentelemetry = { version = "0.18", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.11", features = [
  "http-proto",
  "serialize",
  "reqwest-client",
] }
opentelemetry-proto = { version = "0.1", features = [
  "gen-tonic",
  "traces",
  "with-serde",
  "build-server",
] }
parking_lot = "0.12"
parquet = { version = "36", features = ["arrow", "async"] }
prometheus = "0.13"
promql-parser = "0.1"
prost = "0.11"
rand = "0.8"
regex = "1.7"
regex-syntax = "0.6"
reqwest = { version = "0.11", default-features = false, features = [
  "rustls-tls",
] }
rs-snowflake = "0.6"
rustc-hash = "1.1.0"
rust-embed-for-web = "11.1"
segment = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
simd-json = "0.7"
sled = "0.34"
snap = "1"
sqlparser = { version = "0.32", features = ["serde"] }
sys-info = "0.9"
thiserror = "1.0"
time = "0.3"
tokio = { version = "1", features = ["full"] }
tonic = { version = "0.8", features = ["prost", "gzip"] }
tracing = "0.1"
tracing-opentelemetry = "0.18"
tracing-subscriber = { version = "0.3", features = [
  "tracing-log",
  "env-filter",
] }
url = "2.2"
utoipa = { version = "3", features = ["actix_extras", "openapi_extensions"] }
utoipa-swagger-ui = { version = "3", features = ["actix-web"] }
uuid = { version = "1.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
vrl = { git = "https://github.com/zinclabs/vrl", rev = "e723f96c9305d77c853d8f95a1955ff393c8aff1" }
vrl-value = { package = "value", git = "https://github.com/zinclabs/vrl", rev = "e723f96c9305d77c853d8f95a1955ff393c8aff1" }
vrl-stdlib = { package = "vrl-stdlib", git = "https://github.com/zinclabs/vrl", rev = "e723f96c9305d77c853d8f95a1955ff393c8aff1" }
walkdir = "2"
zstd = "0.12"
sentry = { version = "0.31.0" ,features = ["log"] }


[build-dependencies]
chrono = { version = "0.4", default-features = false, features = ["clock"] }
prost-build = "0.11"
tonic-build = { version = "0.8", features = ["prost"] }

[dev-dependencies]
datafusion-expr = "22"
expect-test = "1.4"
