[package]
description = "ZincObserve is an observability platform that allows you to capture, search, and analyze your logs, metrics, and traces."
edition = "2021"
homepage = "https://zinc.dev/"
keywords = [
  "search",
  "log",
  "metrics",
  "traces",
  "analytics",
  "observability",
  "open source",
  "open-source",
  "opensource",
]
license = "Apache-2.0"
name = "zincobserve"
repository = "https://github.com/zinclabs/zincobserve/"
version = "0.1.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["zo_functions"]
mimalloc = ["dep:mimalloc"]
tmpcache = ["dep:rsfs"]
zo_functions = ["dep:mlua"]

[profile.release]
debug = false
debug-assertions = false
overflow-checks = false
strip = true

[dependencies]
actix-cors = "0.6.4"
actix-web = "4.3"
actix-web-httpauth = "0.8"
actix-web-opentelemetry = { version = "0.13", features = ["metrics"] }
actix-web-prometheus = { version = "0.1.2", features = ["process"] } 
actix-web-rust-embed-responder = { git = "https://github.com/zinclabs/actix-web-rust-embed-responder.git", default-features = false, features = [
  "support-rust-embed-for-web",
  "base64",
] }
ahash = { version = "0.8", features = ["serde"] }
anyhow = "1.0"
argon2 = { version = "0.4.1", features = ["alloc", "password-hash"] }
arrow = { version = "34.0", features = ["simd", "ipc_compression"] }
arrow-schema = { version = "34.0", features = ["serde"] }
async-trait = "0.1.57"
async_once = "0.2.6"
awc = "3.1.0"
aws-config = "0.54"
aws-smithy-async = "0.54"
aws-sdk-s3 = "0.24"
base64 = "0.21.0"
bytes = "1.4"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
clap = { version = "4.1.6", default-features = false, features = [
  "std",
  "help",
  "usage",
  "suggestions",
  "cargo",
] }
dashmap = { version = "5.4.0", features = ["serde"] }
datafusion = { version = "21.1", features = ["simd"] }
datafusion-common = "21.1"
dotenv_config = "0.1.5"
dotenvy = "0.15.6"
env_logger = "0.10"
etcd-client = { version = "0.10.2", features = ["tls"] }
flatten-json-object = "0.6.1"
futures = "0.3"
get_if_addrs = "0.5.3"
glob = "0.3.0"
http-auth-basic = "0.3.3"
lazy_static = "1.4.0"
log = "0.4.17"
lru = "0.8.1"
memchr = "2.5.0"
mimalloc = { version = "0.1", default-features = false, optional = true }
mlua = { version = "0.8.4", features = [
  "send",
  "luajit52",
  "vendored",
  "serialize",
], optional = true }
object_store = { version = "0.5.4", features = ["aws", "gcp"] }
once_cell = "1.15.0"
opentelemetry = { version = "0.18", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.11", features = [
  "http-proto",
  "serialize",
  "reqwest-client",
] }
opentelemetry-proto = { version = "0.1", features = [
  "gen-tonic",
  "traces",
  "with-serde",
  "build-server",
] }
parking_lot = "0.12"
parquet = { version = "34.0", features = ["arrow", "async"] }
prometheus = "0.13.3"
prost = "0.11.2"
rand = "0.8.5"
regex = "1.7.3"
regex-syntax = "0.6.27"
reqwest = { version = "0.11", default-features = false, features = [
  "rustls-tls",
] }
rs-snowflake = "0.6.0"
rsfs = { git = "https://github.com/zinclabs/rsfs.git", optional = true }
rust-embed-for-web = { git = "https://github.com/zinclabs/rust-embed-for-web.git" }
segment = "0.2.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
simd-json = "0.7.0"
sled = "0.34.7"
snap = "1"
sqlparser = { version = "0.32", features = ["serde"] }
sys-info = "0.9.1"
thiserror = "1.0"
time = "0.3.17"
tokio = { version = "1", features = ["full"] }
tonic = { version = "0.8", features = ["prost", "gzip"] }
tracing = "0.1"
tracing-opentelemetry = "0.18"
tracing-subscriber = { version = "0.3", features = [
  "tracing-log",
  "env-filter",
] }
url = "2.2"
utoipa = { version = "3", features = ["actix_extras", "openapi_extensions"] }
utoipa-swagger-ui = { version = "3", features = ["actix-web"] }
uuid = { version = "1.2.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
walkdir = "2"
zstd = "0.12.1"

vrl = {  git  = "https://github.com/vectordotdev/vrl",version = "0.1.0" }
value = { package = "value", git  = "https://github.com/vectordotdev/vrl",version = "0.1.0"  }
stdlib = { package = "vrl-stdlib",  git  = "https://github.com/vectordotdev/vrl",version = "0.1.0"  }


[build-dependencies]
chrono = { version = "0.4", default-features = false, features = ["clock"] }
prost-build = "0.11"
tonic-build = { version = "0.8", features = ["prost"] }

[dev-dependencies]
datafusion-expr = "21.1"
expect-test = "1.4"
