[package]
description = "OpenObserve is an observability platform that allows you to capture, search, and analyze your logs, metrics, and traces."
edition = "2021"
homepage = "https://openobserve.ai/"
keywords = [
  "search",
  "log",
  "metrics",
  "traces",
  "analytics",
  "openobserve",
  "observability",
  "open source",
  "open-source",
  "opensource",
]
license = "AGPL-3.0"
name = "openobserve"
repository = "https://github.com/openobserve/openobserve/"
version = "0.8.0"
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
mimalloc = ["dep:mimalloc"]
jemalloc = ["dep:tikv-jemallocator"]
profiling = ["dep:pyroscope", "dep:pyroscope_pprofrs"]

[profile.release]
debug = false
strip = true

[profile.release-prod]
inherits = "release"
codegen-units = 1
lto = "thin"

[profile.release-profiling]
inherits = "release"
debug = true
strip = false
codegen-units = 4

[dependencies]
actix-cors = "0.6"
actix-multipart = { version = "0.6", features = ["derive"] }
actix-web = "4.4"
actix-web-httpauth = "0.8"
actix-web-lab = "0.20"
actix-web-opentelemetry = { version = "0.16", features = ["metrics"] }
actix-web-prometheus = { version = "0.1", features = ["process"] }
actix-web-rust-embed-responder = { version = "2.2", default-features = false, features = [
  "support-rust-embed-for-web",
  "base64",
] }
ahash = { version = "0.8", features = ["serde"] }
anyhow = "1.0"
argon2 = { version = "0.5", features = ["alloc", "password-hash"] }
async-trait = "0.1"
async-recursion = "1.0"
awc = "3.2"
aws-config = "0.56.1"
aws-sdk-dynamodb = "0.30.0"
base64 = "0.21"
blake3 = { version = "1.4", features = ["rayon"] }
bytes = "1.4"
byteorder = "1.4.3"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
clap = { version = "4.1", default-features = false, features = [
  "std",
  "help",
  "usage",
  "suggestions",
  "cargo",
] }
cloudevents-sdk = { version = "0.7.0", features = ["actix"] }
csv = "1.2.1"
dashmap = { version = "5.4", features = ["serde"] }
datafusion = { git = "https://github.com/apache/arrow-datafusion.git", rev = "b648d4e22e82989c65523e62312e1995a1543888", version = "33", features = [
  "simd",
] }
datafusion-expr = { git = "https://github.com/apache/arrow-datafusion.git", rev = "b648d4e22e82989c65523e62312e1995a1543888", version = "33" }
arrow = { version = "49", features = ["simd", "ipc_compression"] }
arrow-schema = { version = "49", features = ["serde"] }
parquet = { version = "49", features = ["arrow", "async"] }
object_store = { version = "0.8", features = ["aws", "azure", "gcp"] }
dotenv_config = "0.1"
dotenvy = "0.15"
env_logger = "0.10"
etcd-client = { version = "0.12", features = ["tls"] }
faststr = "0.2"
flate2 = { version = "1.0", features = ["zlib"] }
futures = "0.3"
get_if_addrs = "0.5"
glob = "0.3"
hashlink = "0.8.4"
hex = "0.4"
http-auth-basic = "0.3"
indexmap = { version = "2.0", features = ["serde"] }
ipnetwork = "0.20"
itertools = "0.12"
jsonwebtoken = "9.2.0"
log = "0.4"
maxminddb = "0.23.0"
memchr = "2.5"
mimalloc = { version = "0.1", default-features = false, optional = true }
once_cell = "1.17"
opentelemetry = { version = "0.18", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.11", features = [
  "http-proto",
  "serialize",
  "reqwest-client",
] }
opentelemetry-proto = { version = "0.2", features = [
  "gen-tonic",
  "traces",
  "logs",
  "metrics",
  "with-serde",
] }
parking_lot = "0.12"
prometheus = "0.13"
promql-parser = "0.2"
prost = "0.11"
pyroscope = { version = "0.5.6", optional = true }
pyroscope_pprofrs = { version = "0.2.5", optional = true }
rand = "0.8"
getrandom = "0.2.11"
rayon = "1.7.0"
regex = "1.7"
regex-syntax = "0.8"
reqwest = { version = "0.11", default-features = false, features = [
  "rustls-tls",
  "stream",
] }
rs-snowflake = "0.6"
rust-embed-for-web = "11.1"
segment = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
simd-json = "0.13"
sha256 = "1.4.0"
sled = "0.34"
snap = "1"
sqlparser = { version = "0.39", features = ["serde", "visitor"] }
sqlx = { version = "0.7", features = [
  "runtime-tokio-rustls",
  "postgres",
  "mysql",
  "sqlite",
  "chrono",
] }
strum = { version = "0.25", features = ["derive"] }
sysinfo = "0.29"
syslog_loose = "0.18.0"
thiserror = "1.0"
time = "0.3"
tikv-jemallocator = { version = "0.5", optional = true }
tempfile = "3"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tonic = { version = "0.8", features = ["prost", "gzip"] }
tracing = { version = "0.1.37", features = ["attributes"] }
tracing-opentelemetry = "0.18"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
uaparser = "0.6.1"
url = "2.2"
utoipa = { version = "4", features = ["actix_extras", "openapi_extensions"] }
utoipa-swagger-ui = { version = "4", features = ["actix-web"] }
uuid = { version = "1.2", features = ["v4", "fast-rng", "macro-diagnostics"] }
vector-enrichment = { package = "enrichment", git = "https://github.com/openobserve/vector", rev = "66667dd291482a440c5eb2032ef3cbfb7377b53b" }
vrl = { version = "0.8.1", features = ["value", "compiler","test"] }
walkdir = "2"
xxhash-rust = { version = "0.8", features = ["xxh3"] }
zstd = "0.13"
memory-stats = "1.1.0"
rsa = "0.9.6"

[build-dependencies]
chrono = { version = "0.4", default-features = false, features = ["clock"] }
tonic-build = { version = "0.8", features = ["prost"] }
prost-build = "0.11"

[dev-dependencies]
expect-test = "1.4"
float-cmp = "0.9"
