@import 'variables';


.q-w-sm {
  width: 360px;
}
.q-w-md {
  width: 400px;
}
.q-w-lg {
  width: 600px;
}
.q-w-xl {
  width: 800px;
}
.q-w-p50 {
  min-width: 500px;
  width: 50vw;
}
.q-w-p80 {
  min-width: 800px;
  width: 80vw;
}

.text-decoration-none {
  cursor: pointer;
  text-decoration: none;
}

.text-decoration-none:hover {
  text-decoration: underline;
}

.bg-white {
  background-color: white;
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}

.border-right {
  border-right: 1px solid $border-color;
}

// For Dashboard draggable color change
.displayDiv .vue-grid-item.vue-grid-placeholder {
  background: #b1b5e5 !important;
}

.confirmBody {
  padding: 11px 1.375rem 0;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;

  .head {
    line-height: 2.125rem;
    margin-bottom: 0.5rem;
  }

  .para {
    color: $light-text;
  }
}

.confirmActions {
  justify-content: center;
  padding: 1.25rem 1.375rem 1.625rem;
  display: flex;

  .q-btn {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
.q-position-engine {
  z-index: 10001;
}

.tabContent {
  background-color: rgba(136, 136, 136, 0.103);
  // tab content bg color
  padding: 0px 10px;
  border-radius: 0.5rem;
  &__head {
    justify-content: end;
    display: flex;
    .title {
      line-height: 1rem;
      font-weight: bold;
      font-size: 16px;
      padding-top: 10px;
    }
    .copy_action {
      .q-btn {
        justify-content: end;
        font-size: 8px;
        padding: 10px 0px 0px 0px;
        min-width: 0px;
        min-height: 0px;
        line-height: 0px;
        float: inline-end;
        position: absolute;
        right: 30px;
      }
    }
  }
  pre {
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 96%;
  }
}

.monaco-editor {
  outline-width: 0px;
  outline-style: none;
}

.o2-page-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
}

.o2-page-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.o2-page-subtitle1 {
  font-size: 13px;
  font-weight: 600;
  line-height: 15.72px;
}

.o2-page-subtitle2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.o2-page-subtitle3 {
  font-size: 15px;
  line-height: 22px;
}

.o2-card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20.96px;
}

.o2-card-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 15.72px;
}

.o2-card-wrapper {
  box-shadow: none;
  border: 1px solid #E4E7EC;
}

.body--dark {
  .o2-card-wrapper {
    box-shadow: none;
    border: 1px solid #454F5B;
    background-color: #212121;
  } 
}
// this is the default table style for all tables in the app
//to apply this style to a table , we need to add a class o2-quasar-table to the table
//add if we want to apply dark theme to the table , we need to add a class dark-o2-quasar-table to the table
//add if we want to apply light theme to the table , we need to add a class light-o2-quasar-table to the table
//if there are actions in the table , we need to add a class actions-column to the last column

.o2-quasar-table{
  th,td {
    padding: 0px 16px !important;
    height: 36px !important;
  };


  th:last-child.actions-column,
  td:last-child.actions-column {
    //the fixed width as we have moved some actions to the menu so lot of space is occupied by actions section so remvoed that
    position: sticky;
    right: 0;
    z-index: 1;
    background: #ffffff;
    box-shadow: -2px 0px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
//here we have dark theme styling for the table
//`. we are changing the background color of the actions column
.o2-quasar-table-dark{
  th:last-child.actions-column,
  td:last-child.actions-column {
    background: var(--q-dark);
    box-shadow: -2px 0px 2px 0 rgba(144, 144, 144, 0.1);
    width: 150px;
  }
}

.o2-quasar-table-light{
  th:last-child.actions-column,
  td:last-child.actions-column {
    background: #ffffff;
    width: 150px;
    box-shadow: -2px 0px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
//this is for in some of pages we are having a header for eg: pipelines ,functions ,enrichments listing pages
//there to maintain consistency of the page name and add buttons to be at the top while scrolling the table 
//we need to have this because here it is a embededded in q-splitter
.o2-table-header-dark{
  background-color: #181A1B;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.o2-table-header-light{
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

//this is used to target the header and footer of the table to make it sticky all the time
//we have added the class o2-table-footer-title to the footer title
.o2-table-footer-title{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.o2-quasar-table-header-sticky{
  thead {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

.o2-quasar-table-header-sticky-dark{
  thead {
    background-color: #181A1B;
  }
}

.o2-quasar-table-header-sticky-light{
  thead {
    background-color: #ffffff;
  }
}


//some times if there are less records or if user tries to search anything the last row of the table is not having border at the bottom

.o2-last-row-border-light{
  tr:last-child{
    td{
      border-bottom: 1px solid #E4E7EC !important;
    }
  }
}

.o2-last-row-border-dark{
  tr:last-child{
    td{
      border-bottom: 1px solid #575A5A !important;
    }
  }
}


//this is used to target the table in the app-table component internally it uses q-table component
//but due to virtual scroll the classes are different so we need to target the classes differently
//here we have q-virtual-scroll__content and q-table classes to target td and th respectively
//we have also added the actions-column class to the last column of the table
//we have also added the o2-quasar-app-table-dark and o2-quasar-app-table-light classes to the table to target the dark and light theme for actions column
//we have also added the o2-quasar-app-table-dark and o2-quasar-app-table-light classes to the table to target the dark and light theme for actions column
.o2-quasar-app-table{
  .q-virtual-scroll__content{
    th,td{
      padding: 0px 16px !important;
      height: 36px !important;
    }
    td:last-child.actions-column {
      //the fixed width as we have moved some actions to the menu so lot of space is occupied by actions section so remvoed that
      position: sticky;
      right: 0;
      z-index: 1;
      width: 150px !important;
    }
  }
  .q-table{
    thead{
      th:last-child.actions-column{
        position: sticky;
        right: 0;
        z-index: 1;
      }
    }
  }
}
.o2-quasar-app-table-light{
  .q-virtual-scroll__content{
    td:last-child.actions-column {
      background: #ffffff !important;
      box-shadow: -2px 0px 2px 0 rgba(0, 0, 0, 0.1) !important;
      width: 150px !important;
    }
  }
  .q-table{
    thead{
      th:last-child.actions-column{
        background: #ffffff !important;
        box-shadow: -2px 0px 2px 0 rgba(0, 0, 0, 0.1) !important;
        width: 150px !important;
      }
    }
  }
}

.o2-quasar-app-table-dark{
  .q-virtual-scroll__content{
    td:last-child.actions-column {
      background: var(--q-dark) !important;
      box-shadow: -2px 0px 2px 0 rgba(144, 144, 144, 0.1) !important;
      width: 150px !important;
    }
  }
  .q-table{
    thead{
      th:last-child.actions-column{
        background: var(--q-dark) !important;
        box-shadow: -2px 0px 2px 0 rgba(144, 144, 144, 0.1) !important;
        width: 150px !important;
      }
    }
  }
}
//this is used to add a border to the tabs container 
//so to make this work just introduce a new div around the app-tabs component and add the class app-tabs-container to it
//and then add the class tabs-selection-container-dark or tabs-selection-container-light to the app-tabs component
.app-tabs-container{
  border: 1px solid #cacaca;
  padding: 2px;
  border-radius: 2px;
}

.tabs-selection-container-dark{
  border: none !important;
  border-radius: none !important;
  .rum-tab{
    border-radius: 4px !important;
    height: 30px !important;
    margin: 0 2px !important;
    padding: 4px 12px !important;
    border-bottom: none !important;
    width: auto !important;
    white-space: normal !important;
  }
  .active{
    background-color: $primary !important;
    color: white !important;
    border: 1px solid #cacaca !important;
    border-bottom: 1px solid #cacaca !important;
  }
  .rum-tab:hover{
    background-color: #373A3B !important;
  }
  .rum-tab.active:hover{
    background-color: $primary !important;
  }
}

.tabs-selection-container-light{
  border: none !important;
  border-radius: none !important;
  .rum-tab{
    border-radius: 4px !important;
    height: 30px !important;
    margin: 0 2px !important;
    padding: 4px 12px !important;
    border-bottom: none !important;
    width: auto !important;
    white-space: normal !important;
  }
  .rum-tab.active{
    background-color: $primary !important;
    color: white !important;
    border: 1px solid #cacaca !important;
  }
  .rum-tab:hover{
    background-color: #f0f0f0 !important;
  }
  .rum-tab.active:hover{
    background-color: $primary !important;
  }
}


//this is used to target the checkbox in the table
//we need to add the class o2-table-checkbox-light or o2-table-checkbox-dark to the checkbox directly 
//and don't add the color to the checkbox directly
//any non theme related styling should be done here inside the o2-table-checkbox class
.o2-table-checkbox{
  .q-checkbox__bg{
    width: 16px !important;
    height: 16px !important;
  }
}
.o2-table-checkbox-light{
  .q-checkbox__inner--truthy .q-checkbox__bg, .q-checkbox__inner--indet .q-checkbox__bg {
    background: #575FC5 !important;
    border: 2px solid #575FC5 !important;
  }
}


.o2-table-checkbox-dark{
  .q-checkbox__inner--truthy .q-checkbox__bg, .q-checkbox__inner--indet .q-checkbox__bg {
    background: #575FC5 !important;
    border: 2px solid #575FC5 !important;
  }
}

//this is used to target the radio button in the app
//we need to add the class o2-radio-button-light or o2-radio-button-dark to the radio button directly
//and don't add the color to the radio button directly
//any non theme related styling should be done here inside the o2-radio-button class

.o2-radio-button{
  .q-radio{
    display: flex;
  }
  .q-radio__bg{
    width: 16px !important;
    height: 16px !important;
  }
  .q-radio__label{
    font-size: 13px !important;
  }
  .q-radio__inner{
    height: 16px !important;
  }
}

.o2-radio-button-light{
  .q-radio__inner--truthy{
    color: #575FC5 !important;
  }
}

.o2-radio-button-dark{
  .q-radio__inner--truthy{
    color: #575FC5 !important;
  }
}


//this is used to target the numeric input in the whole app and if we want to apply any styling to the numeric input we need to add the class o2-numeric-input-light or o2-numeric-input-dark to the numeric input
//and don't add the color to the numeric input directly
//any non theme related styling should be done here inside the o2-numeric-input class
.o2-numeric-input{
  .q-field__inner{
    border-radius: 2px !important;
  }
}

.o2-numeric-input-light{
  .q-field__inner{
    border: 1px solid #C4C4C4 !important;
  }
  .q-field__control{
    background-color: #ffffff !important;
  }
}
//TODO O2: after getting the dark theme work on it
.o2-numeric-input-dark{
  .q-field__inner{
    border: 1px solid #454F5B !important;
  }
  .q-field__control{
    background-color: #212121 !important;
  }
}


//here we have implemented the search input in the whole app that will be used at the top of the table
//we have added the class o2-search-input-light or o2-search-input-dark to the search input
//any non theme related styling should be done here inside the o2-search-input class

.o2-search-input{
  height: 36px !important;
  .q-field__control{
  height: 36px !important;
  border-radius: 4px !important;
  display: flex;
  align-items: end;
  font-size: 13px;
  padding: 0px 6px !important;
  font-weight: 500 !important;
  color: transparent !important;
}
  .q-field__prepend{
    height: 36px !important;
    padding-bottom: 4px !important;
  }
  .q-field--highlighted{
    .q-field__control{
      background-color: red !important;
    }
  }
  .q-field__append{
    padding-top: 8px !important;
  }
}

.o2-search-input-light{
  .q-field__control{
    background-color: #ffffff !important;
    outline: 1px solid #C9CCD6 !important;

  }
}
.o2-search-input-dark{
  .q-field__control{
    background-color: #2B2D30 !important;
    border: 1px solid #4E5157 !important;
  }
}
//this is done because we need to select the search input when it is focused
.o2-search-input-light.q-field--focused .q-field__control {
  outline: 2px solid #575FC5 !important;
  box-shadow: none !important;
  background-color: #FFFFFF !important;
  border-radius: 4px !important;
}

.o2-search-input-dark.q-field--focused .q-field__control {
  outline: 2px solid #575FC5 !important;
  box-shadow: none !important;
  background-color: #2B2D30 !important;
  border-radius: 4px !important;
}

//this is for search input icon
//we have added the class o2-search-input-icon-light or o2-search-input-icon-dark to the search input icon
//any non theme related styling should be done here inside the o2-search-input-icon class

.o2-search-input-icon{
  height: 16px !important;
  width: 16px !important;
  margin-right: 10px;
}
.o2-search-input-icon-light{
  color: #818594;
}
.o2-search-input-icon-dark{
  color: #6F737A;
}

//this is for o2 secondary button
//in a page we can have multiple secondary buttons so we need to add the class o2-secondary-button-light or o2-secondary-button-dark to the button
//any non theme related styling should be done here inside the o2-secondary-button class

.o2-secondary-button{
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  border-radius: 4px !important;
  min-width: 72px !important;
  padding: 0px 12px !important;
  min-width: 90px !important;
}


.o2-secondary-button-small{
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  border-radius: 4px !important;
  min-width: 72px !important;
  padding: 0px 12px !important;
  min-width: 90px !important;
  height: 28px !important;
}

.o2-secondary-button-light{
  color: #19191E !important;
  border: 1px solid #D3D5DB !important;
  background-color: #F7F8FA;
}
.o2-secondary-button-dark{
  color: #DFE1E5 !important;
  border: 1px solid #6F737A !important;
}



.o2-primary-button{
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  padding: 0px 12px !important;
  border-radius: 4px !important;
  min-width: 90px !important;
}
.o2-primary-button-small{
  height: 28px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  padding: 0px 12px !important;
  border-radius: 4px !important;
  min-width: 90px !important;
}

.o2-primary-button-light{
  background-color: #575FC5 !important;
  color: #ffffff !important;
  border: 1px solid #575FC5 !important;
  &:hover{
    background-color: #6B76E3 !important;
    border: 1px solid #6B76E3 !important;
  }
}
//TODO o2: after getting the dark theme work on it
.o2-primary-button-dark{
  background-color: #575FC5 !important;
  color: #ffffff !important;
  border: 1px solid #575FC5 !important;
  &:hover{
    background-color: #6B76E3 !important;
    border: 1px solid #6B76E3 !important;
  }
}

//q-toggle in small size
.o2-toggle-button-sm{
  .q-toggle__track{
    height: 20px;
    border-radius: 16px;
    width: 36px;
    background-color: #EBECF0;
    opacity: 100%;
  }
  .q-toggle__thumb:after{
    top: 4.8px;
    left: 4px;
    height: 16px;
    width: 16px;
  }
  .q-toggle__label{
    margin-top: 6px;
  }
  .q-toggle__inner--truthy{
    .q-toggle__thumb:after{
      position: relative;
      top: 3.2px !important;
      left: 2px !important;
    }
  }

}

.o2-toggle-button-sm-light{
  .q-toggle__track{
    background-color: #acbbf3;
    border: 1px solid #D3D5DB !important;
    opacity: 100%;
  }
  .q-toggle__thumb:after{
  }
  .q-toggle__inner--truthy{
    color: #ffffff !important;
    .q-toggle__track{
      background-color: #575FC5;
    }
    }
}

.o2-toggle-button-sm-dark{
  .q-toggle__track{
    background-color: #2f415e;
    border: 1px solid #6F737A !important;
    opacity: 100%;
  }
  .q-toggle__thumb:after{
  }
  .q-toggle__inner--truthy{
    color: #ffffff !important;
    .q-toggle__track{
      background-color: #6B76E3;
    }
    } 
}

//q-toggle in large size
.o2-toggle-button-lg{
  .q-toggle__track{
    height: 24px;
    border-radius: 16px;
    width: 44px;
    background-color: #EBECF0;
    opacity: 100%;
  }
  .q-toggle__thumb:after{
    top: 5.8px;
    left: 4.8px;
    height: 20px;
    width: 20px;
  }
  .q-toggle__thumb{
    &:before {
      display: none !important;
    }
    &:hover:before {
      display: none !important;
    }
  }
  .q-toggle__label{
    margin-top: 6px;
  }
  .q-toggle__inner--truthy{
    .q-toggle__thumb:after{
      top: 5.8px;
      left: 3.8px;
    }
    .q-toggle__thumb{
      &:before {
        display: none !important;
      }
      &:hover:before {
        display: none !important;
      }
    }
  }
}

.o2-toggle-button-lg-light{
  .q-toggle__track{
    background-color: #acbbf3;
    border: 1px solid #D3D5DB !important;
    opacity: 100%;
  }
  .q-toggle__thumb:after{
  }
  .q-toggle__inner--truthy{
    color: #ffffff;
    .q-toggle__track{
      background-color: #575FC5;
    }
    }
}

.o2-toggle-button-lg-dark{
  .q-toggle__track{
    background-color: #2f415e;
    border: 1px solid #6F737A !important;
    opacity: 100%;
  }
  .q-toggle__thumb:after{
  }
  .q-toggle__inner--truthy{
    color: #ffffff;
    .q-toggle__track{
      background-color: #6B76E3;
    }
    }
}


.o2-input-text-box-light{
  .q-field__control{
    height: 36px !important;
  }
  .q-field__label{
    padding-bottom: 6px;
    font-size: 14px;
  }
}


//this is used to target the numeric input in the whole app and if we want to apply any styling to the numeric input we need to add the class o2-numeric-input-light or o2-numeric-input-dark to the numeric input
//and don't add the color to the numeric input directly
//any non theme related styling should be done here inside the o2-numeric-input class
.o2-text-input{
  .q-field__inner{
    border-radius: 2px !important;
  }
}

.o2-text-input-light{
  .q-field__inner{
    border: 1px solid #C4C4C4 !important;
  } 
  .q-field__control{
    background-color: #ffffff !important;
  }
}
//TODO O2: after getting the dark theme work on it
.o2-text-input-dark{
  .q-field__inner{
    border: 1px solid #454F5B !important;
  }
  .q-field__control{
    background-color: #212121 !important;
  }
}

