$primary   : #5960B2
$secondary : #5ca380
$accent    : #F5F5F5

$dark      : #202224
$dark-page : #36383A

$positive  : #5ca380
$negative  : #ec1414
$info      : #31CCEC
$warning   : #F2C037


$input-border : #E1E1E1
$input-bg	  : #F5F5F5
$light-text   : #797A7C
$light-text2  : #939496

$border-color: #E0E0E0
$input-field-border-color: #D5D5D5

$selected-list-bg: #E3E4FA

$table-footer-opacity: 0.6
$generic-border-radius : 6px
$button-border-radius : 6px
$card-border: #EFF0F7
$icon-bg: #EFF0F8
$payment-card-border: #D8D8D8
$white: #FFFFFF
