@import "tailwindcss" prefix(tw);

@plugin "@tailwindcss/typography";

@source "../**/*.{vue,js,ts}";

@layer base {
  *, :before, :after {
    border-color: #e5e7eb;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
    margin: revert;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125em;
    margin: revert;
  }
  .q-menu .q-item .q-item__label{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
  }
}

