[package]
name = "config"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
actix-web-prometheus.workspace = true
ahash.workspace = true
anyhow.workspace = true
arrow.workspace = true
arrow-json.workspace = true
arrow-schema.workspace = true
aws-sdk-dynamodb.workspace = true
bytes.workspace = true
byteorder.workspace = true
chrono.workspace = true
chrono-tz.workspace = true
dashmap.workspace = true
dotenv_config.workspace = true
dotenvy.workspace = true
hashbrown.workspace = true
hex.workspace = true
indexmap.workspace = true
itertools.workspace = true
log.workspace = true
once_cell.workspace = true
parquet.workspace = true
prometheus.workspace = true
reqwest.workspace = true
rand.workspace = true
rs-snowflake.workspace = true
getrandom.workspace = true
serde.workspace = true
serde_json.workspace = true
segment.workspace = true
sysinfo.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-log.workspace = true
tracing-subscriber.workspace = true
utoipa.workspace = true
xxhash-rust.workspace = true
