[target.x86_64-unknown-linux-gnu]
rustflags = [
    "-C", "target-feature=+aes,+sse2,+ssse3,+sse4.1,+sse4.2",
    "-C", "linker=clang",
    "-C", "link-arg=-fuse-ld=mold",
]

[target.x86_64-unknown-linux-musl]
linker = "clang"
rustflags = [
    "-C", "target-feature=+aes,+sse2,+ssse3,+sse4.1,+sse4.2",
    "-C", "link-arg=-fuse-ld=lld",
]

[target.aarch64-unknown-linux-gnu]
linker = "clang"
rustflags = [
    "-C", "target-feature=+aes,+neon",
    "-C", "link-arg=-fuse-ld=mold",
    "-C", "link-arg=--target=aarch64-unknown-linux-gnu",
]

[target.aarch64-unknown-linux-musl]
linker = "clang"
rustflags = [
    "-C", "target-feature=+aes,+neon",
    "-C", "link-arg=-fuse-ld=lld",
    "-C", "link-arg=--target=aarch64-unknown-linux-musl",
]

[target.aarch64-apple-darwin]
rustflags = [
    "-C", "target-feature=+aes,+neon",
    "-C", "split-debuginfo=unpacked",
    "-C", "link-arg=-ld_new",
]

[target.x86_64-apple-darwin]
rustflags = [
    "-C", "target-feature=+aes,+sse2,+ssse3,+sse4.1,+sse4.2",
    "-C", "split-debuginfo=unpacked",
    "-C", "link-arg=-ld_new",
]

[target.x86_64-pc-windows-msvc]
rustflags = [
    "-C", "target-feature=+aes,+sse2,+ssse3,+sse4.1,+sse4.2",
    "-C", "linker=rust-lld",
]
