.DS_Store

# Environment Variables
*.env
*.env.json

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
cypress/videos
cypress/screenshots
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
