name: "Licenses checker"
on:
  push:
    paths:
      - "**/Cargo.lock"
      - "**/Cargo.toml"
      - "deny.toml"
      - ".github/workflows/cargo-deny.yml" # run when this file changes, so we know nothing is broken

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubicloud-standard-8
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          # The command to run with cargo-deny
          command: check licenses
